**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
**/venv
**/.env
**/.env.*
!**/.env.example
**/node_modules
frontend/build
.git
.gitignore
**/*.md
.claude
.vscode
.idea
**/*.log
demo/*.mp3
demo/*.wav
